@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

body {
    background-color: #2f2f2f;
    padding-bottom: 20px;
    width: 100%;
    height: 100%;
    color: white;

}

button {
    cursor: pointer;
    padding: 7px 20px;
    background-color: #555555;
    color: white;
    border: none;
    border-radius: 7px;
    margin-top: 15px;
    transition: all 0.4s ease;
}
button:hover {
    background-color: #6e6e6e;
    box-shadow: 0 0 5px #120e0d;
    color: white;
}
