#categories-form-container,
#products-container {
    width: 90%;
}

table {
    width: 100%;
    margin-top: 20px;
    border: 1px solid #555555;
    border-radius: 10px;
    overflow: hidden;
    table-layout: fixed;
    min-width: 300px;
}

thead tr {
    background-color: #555555;
    color: #fff;
    text-align: left;
}

thead th {
    padding: 10px;
    font-weight: bold;
}

tbody tr {
    background-color: #3d3d3d;
    transition: background-color 0.3s ease;
}

tbody tr:nth-child(even) {
    background-color: #616161;
}

tbody tr:hover {
    background-color: #3d3d3d;
}

td {
    padding: 10px;
    word-wrap: break-word;
    overflow-wrap: break-word;
    white-space: normal;
    max-width: 250px;
    color: #fff;
}

td:last-child {
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    flex-wrap: wrap;
}

.category-delete-form {
    padding: 0;
}
