header {
    background-color: #212121;
}

header img {
    min-width: 50px;
    width: 58px;
    opacity: 0.8;
}
header img:hover {
    opacity: 1;
}

a {
    color: #dddddd;
}

a:hover {
    color: #bbbbbb;
    text-decoration: underline;
}

.btn-custom {
    background-color: #555555;
    color: #fff;
}

#logout-container span {
    font-style: italic;
}
#logout-container form {
    padding: 0;
}
#logout-container button {
    margin: 0;
}

.navbar-nav a {
    color: #dddddd;
}

.navbar-nav a:hover {
    background-color: #555555;
    color: #555555;
}

#nav-bar a,
#auth-container a {
    text-decoration: none;
    border: 2px solid #777777;
    border-radius: 7px;
    padding: 5px 12px;
    color: #dddddd;
    font-weight: 600;
    transition: all 0.3s ease;
}

#nav-bar a:hover,
#auth-container a:hover {
    color: #bbbbbb;
    background-color: #2f2f2f;
    border-color: #666666;
    transform: scale(1.05);
}

#auth-container a {
    padding: 3px 15px;
}

@media (max-width: 550px) {
    header div {
        display: flex;
        flex-direction: column;
    }

    header img {
        width: 70px;
    }

    #nav-bar.authenticated::after,
    #nav-bar.authenticated::before {
        display: block;
        content: "";
        width: 100%;
        height: 2px;
        background-color: #dddddd;
    }

    #auth-container {
        display: flex;
        flex-direction: row;
    }
}
