#home {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    margin: 1vh auto;
}

#home-left {
    flex: 1;
    padding-right: 20px;
}

#home-image {
    width: 100%;
    max-width: 400px;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#home-right {
    flex: 2;
    max-width: 600px;
    padding-left: 20px;
}

#home-text {
    font-size: 1.2rem;
    color: #fff;
}

#home-text a {
    color: #c0c0c0;
    text-decoration: none;
    font-weight: bold;
}

#home-text a:hover {
    text-decoration: underline;
}

@media (max-width: 968px) {
    #home {
        flex-direction: column;
        align-items: center;
        margin: 0;
    }

    #home-left,
    #home-right {
        padding: 10px;
    }

    #home-image {
        max-width: 100%;
        margin-bottom: 20px;
    }
}
