.pagination-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 40px 0;
}

.pagination-container .pagination {
    display: flex;
    gap: 10px;
    list-style: none;
    padding: 0;
    margin: 0;
}

.pagination-container .pagination li {
    display: inline-block;
}

.pagination-container .pagination li a {
    background-color: #383838;
    color: #555555;
    border: 1px solid #555555;
    padding: 8px 16px;
    border-radius: 5px;
    font-size: 1rem;
    text-decoration: none;
}

.pagination-container .pagination li a:hover {
    background-color: #555555;
    color: white;
}

.pagination-container .pagination li.active a {
    background-color: #555555;
    color: white;
}

.pagination-container .pagination li.disabled a {
    background-color: #555555;
    color: #bbbbbb;
    pointer-events: none;
}

.pagination-container .pagination li:first-child a {
    border-radius: 5px 0 0 5px;
}

.pagination-container .pagination li:last-child a {
    border-radius: 0 5px 5px 0;
}

.pagination-info {
    text-align: center;
    margin-top: 10px;
    font-size: 1rem;
    color: #777777;
}
