#product-cards {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    color: white;

}

.product-card {
    background: #383838;
    border: 1px solid #555555;
    border-radius: 10px;
    padding: 15px;
    width: 300px;
    text-align: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.product-card img {
    max-width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 10px;
    margin-bottom: 10px;
    background-color: #666666;
    border-radius: 10px;
    padding: 10px;
}

.product-card h2 {
    font-size: 1.4rem;
    color: #fff;
    margin: 10px 0;
}

.product-card p {
    font-size: 1rem;
    color: #ececec;
}

.card-actions {
    display: flex;
    justify-content: center;
    gap: 10px;
}

#product-details {
    display: flex;
    gap: 20px;
    background-color: #383838;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 75%;
    margin: 10vh;
}

.product-card-left {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #666666;
    border-radius: 10px;
    padding: 10px;
}

.product-image {
    max-width: 100%;
    min-width: 100px;
    max-height: 300px;
    object-fit: cover;
    border-radius: 5px;
}

.product-card-right {
    flex: 2;
    display: flex;
    flex-direction: column;
    color: #fff;
}

.product-card-right h1 {
    font-size: 34px;
    margin-bottom: 10px;
}

.product-card-right p {
    font-size: 16px;
    margin: 5px 0;
}

.product-actions {
    display: flex;
    margin: 0;
}

@media (max-width: 650px) {
    #product-details {
        flex-direction: column;
    }
}
